html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* styles for congratulations popup */

 .winner {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}

.hide {
    visibility: hidden;
}

.checkmark {
    font-size: 72px;
    color: #90EE90;
}

.winner-text {
    font-size: 28px;
    font-family: "Roboto";
}

.winner-stats {
    font-size: 14px;
    font-family: "Roboto";
}

.play-again {
    background-color: #02ccba;
    border-radius: 10px;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    min-width: 40px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* responsive css */

/* teensy tiny device portrait */
@media screen and (min-width: 320px) and (max-width: 359px) and (orientation: portrait) {
    .checkmark {
        font-size: 60px;
    }
   
    .winner-text {
        font-size: 24px;
    }
   
    .winner-stats {
        font-size: 12px;
    }
   
    .play-again {
        font-size: 16px;
    }
    
    .deck {
        width: 300px;
        min-height: 300px;
        padding: 10px;
        box-shadow: 4px 8px 20px 0 rgba(46, 61, 73, 0.5);
    }
    
    .deck .card {
        height: 64px;
        width: 64px;
    }
    
    .deck .card.show {
        font-size: 26px;
    }
    
    .deck .card.match {
        font-size: 26px;
    }
}

/* teensy tiny device landscape */
@media screen and (min-width: 568px) and (max-width: 639px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        height: 100%;
    }
    
    .game-info {
        order: 1;
        width: 43%;
        margin-top: -50px;
    }

    h1 {
        text-align: center;
        font-size: 22px;
    }
    
     .play-again {
        font-size: 22px;
     }
    
    .deck {
        width: 300px;
        min-height: 300px;
        padding: 16px;
        box-shadow: 4px 8px 20px 0 rgba(46, 61, 73, 0.5);
        margin: 0 0 3em;
        margin-top: auto;
        margin-bottom: auto;
        order: 2;
    }
    
    .deck .card {
        height: 60px;
        width: 60px;
    }
    
    .deck .card.show {
        font-size: 28px;
    }
    
    .deck .card.match {
        font-size: 28px;
    }
    
    .score-panel {
        text-align: left;
        width: 85%;
    }
}

/* small device portrait */
@media screen and (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
    h1 {
        padding-top: 14px;
        padding-bottom: 6px;
    }

    .checkmark {
        font-size: 68px;
    }
   
    .play-again {
        font-size: 18px;
    }
    
    .deck {
        width: 330px;
        min-height: 330px;
        padding: 16px;
        box-shadow: 6px 8px 20px 0 rgba(46, 61, 73, 0.5);
    }
    
    .deck .card {
        height: 66px;
        width: 66px;
    }
    
    .deck .card.show {
        font-size: 28px;
    }
    
    .deck .card.match {
        font-size: 28px;
    }
    
}

/* small device landscape */
@media screen and (min-width: 640px) and (max-width: 1023px) and (orientation: landscape) {
    .game-info {
        order: 1;
        width: 43%;
        margin-top: -50px;
    }
    
     .play-again {
        font-size: 22px;
     }
    
    .deck {
        width: 340px;
        min-height: 340px;
    }
    
    .deck .card {
        height: 70px;
        width: 70px;
    }
}


/* large device */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    h1 {
        font-size: 48px;
    }

    .checkmark {
        font-size: 94px;
    }
   
    .winner-text {
        font-size: 42px;
    }
   
    .winner-stats {
        font-size: 20px;
    }
   
    .play-again {
        font-size: 34px;
    }

    .score-panel {
        width: 88%;
        font-size: 26px;
    }
    
    .deck {
        width: 660px;
        min-height: 680px;
        padding: 32px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    }
    
    .deck .card {
        height: 128px;
        width: 128px;
    }
    
    .deck .card.show {
        font-size: 50px;
    }
    
    .deck .card.match {
        font-size: 50px;
    }
}

/* large device landscape */
@media screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {
    h1 {
        font-size: 36px;
    }

    .game-info {
        width: 35%;
        margin-left: -20px;
        margin-right: 20px;
    }
    
     .play-again {
        font-size: 22px;
     }

     .score-panel {
        width: 88%;
        font-size: 22px;
    }
    
    .deck {
        width: 540px;
        min-height: 540px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    }
    
    .deck .card {
        height: 110px;
        width: 110px;
    }

    .deck .card.show {
        font-size: 50px;
    }
    
    .deck .card.match {
        font-size: 50px;
    }
}